  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div id="form-main">
          <div id="form-div">

            <%= simple_form_for(@cocktail) do |f| %>
              <%= f.error_notification %>

              <p class="name">
                <%= f.input :name, class: "validate[required,custom[onlyLetter],length[0,100]] feedback-input", id: "name" %>
              </p>
              <%= f.input :picture %>
              <p></p>
              <p></p>
              <div class="submit">
                <%= f.button :submit, class: 'btn btn-primary', id: "button-blue"   %>
                <div class="ease"></div>
              </div>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>

