<div class="background" style="background-image:url('<%= @cocktail.picture %>')">
  <div class="background-gradient"></div>
  <div class="background-content">
    <%= link_to "< Back", cocktails_path %>
    <h1 class="text-center"><%= @cocktail.name %></h1>
    <p></p>
    <div class="container text-center">
    <%= image_tag @cocktail.picture.url(:medium) %>
    <h3 class="text-center">Ingredients</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <ul class="list-unstyled text-center">
            <p>
              <% @cocktail.doses.each do |dose| %>
                <% if dose.persisted? %>
                <li>
                  <%= dose.ingredient.name %> :
                  <%= dose.description %> cl
                  <%= link_to "delete", dose_path(dose), method: :delete %>
                </li>
                <% end %>
              <% end %>
            </p>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.error_notification %>

          <%= f.input :ingredient_id, collection: Ingredient.all, label_method: :name, label_value: :id, prompt: "choose an ingredient" %>
          <%= f.input :description, placeholder: "ingredient dose in cl" %>
          <%= f.button :submit, class: 'btn btn-primary', id: "button-blue" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



